@model IEnumerable<AdvocatePersonalAssistantSystem.Models.Login>

@{
    ViewData["Title"] = "Index";
}

   


<h2>Login</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pass)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pass)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.LId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.LId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
